<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>WebThriftStore Charity List</title>

    <!-- Le styles -->
    <link href="css/base.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
</head>

  <body>

        <div class="container">
            <div class="wts-dropdown">
              <a href="#">Charity Partners</a>
              <ul class="wts-dropdown-menu">
                <li class="sub-menu fill">
                  <strong>Our Charity Partners</strong>
                  <ul class="charity-list">
                  </ul>
                </li>
                <li class="footer">
                  <a href="#"><strong>Become a Charity Partner</strong></a>
                </li>
              </ul>
            </div>
        </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="../assets/js/libs/jquery.js"></script>
    <script src="../assets/js/libs/socket.io.js"></script>
    <script src="../assets/js/enums/messagetype.js"></script>
    <script src="../assets/js/libs/socketcontroller.js"></script>
    <script src="../assets/js/libs/autostartcontroller.js"></script>
    <script src="js/base.js"></script>

</body>
</html>
